{% extends 'blog/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/github.css' %}">
{% endblock %}


{% block content %}
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div>
                <h2>{{ entry.title }}</h2>
                <div>
                    <p>
                        <span>作者:{{ entry.author }}</span>
                        <span>发表时间:{{ entry.created_time }}</span>
                        <span>浏览量:{{ entry.visiting }}</span>
                        分类：
                        {% for category in entry.category.all %}
                            &nbsp;&nbsp;<a href="{% url 'blog:blog_category' category.id %}">{{ category.name }}</a>
                        {% endfor %}
                        标签：
                        {% for tag in entry.tags.all %}
                            &nbsp;&nbsp;<a href="{% url 'blog:blog_tag' tag.id %}">{{ tag.name }}</a>
                        {% endfor %}
                    </p>
                </div>
                <div>
                    {% if entry.img %}
                        <img src="{{ entry.img.url }}" alt="{{ entry.title }}" style="max-width: 100%">
                    {% endif %}
                </div>
                <div>
                    {{ entry.toc|safe }}
                    {{ entry.body|safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}